name: CI

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  ci:
    runs-on: self-hosted
    timeout-minutes: 15

    steps:
      - name: Hard reset git auth
        run: |
          git config --global --unset-all http.https://github.com/.extraheader || true
          git config --global --unset-all credential.helper || true
          git config --global --unset-all core.sshCommand || true

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.GH_SSH_KEY }}
          persist-credentials: false

      - name: Install dependencies
        run: pnpm install

      - name: Type check
        run: pnpm run type-check

      - name: Lint / Format
        run: pnpm run biome

      - name: Build
        run: pnpm run build
