name: Validate PR Source Branch

on:
  pull_request:
    branches:
      - master

jobs:
  check-branch:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Check PR source branch
        run: |
          echo "Base branch: ${{ github.base_ref }}"
          echo "Head branch: ${{ github.head_ref }}"

          if [ "${{ github.head_ref }}" != "develop" ]; then
            echo "❌ Pull Request para master só é permitido a partir da branch develop."
            exit 1
          fi

          echo "✅ Pull Request válido: origem develop."
